*.suo
*.obj
release/exe/cd_win.sbr
*.tlog
release/exe/cl_cin.sbr
*.sbr
*.manifest
*.bsc
*.lastbuildstate
release/exe/starviewer.log
release/exe/q2.res
*.cache
*.log
*.exp
release/gamex86.lib
*.pdb
starviewer/configs/config.cfg
starviewer/serverlist.dat
*.sdf
starviewer_source/starviewer.opensdf
release/ref_gl/ref_pbgl.lib
starviewer/configs/keyhistory.dat